/*----------------------------*\
	Typography
\*----------------------------*/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2d42;
  font-weight: 700;
  margin: 0 0 10px;
}

a {
  color: #2b2d42;
  font-weight: 500;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

a:hover,
a:focus {
  color: #d10024;
  text-decoration: none;
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*=========================================================
	03 -> Navigation
===========================================================*/

#navigation {
  background: #fff;
  border-bottom: 2px solid #e4e7ed;
  border-top: 3px solid #d10024;
}

/*----------------------------*\
	Main nav
\*----------------------------*/

.main-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 25px;
}

.main-nav > li + li {
  margin-left: 30px;
}

.main-nav > li > a {
  padding: 20px 0px;
}

.main-nav > li > a:hover,
.main-nav > li > a:focus,
.main-nav > li.active > a {
  color: #d10024;
  background-color: transparent;
}

.main-nav > li > a:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: #d10024;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.main-nav > li > a:hover:after,
.main-nav > li > a:focus:after,
.main-nav > li.active > a:after {
  width: 100%;
}

.header-ctn li.nav-toggle {
  display: none;
}

/*----------------------------*\
	Section
\*----------------------------*/

.section {
  height: 100%;
}

.section-title {
  border-bottom: 1px solid #e4e7ed;
}
.section-title .title {
  display: inline-block;
  text-transform: uppercase;
  margin: 20px;
}

/*----------------------------*\
	Products Container
\*----------------------------*/
.products-cotainer {
  height: 100%;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

/*=========================================================
	06 -> PRODUCT
===========================================================*/

.product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 45%;

  margin: 25px 25px;
  -webkit-box-shadow: 0px 0px 0px 0px #e4e7ed, 0px 0px 0px 1px #e4e7ed;
  box-shadow: 0px 0px 0px 0px #e4e7ed, 0px 0px 0px 1px #e4e7ed;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #e4e7ed, 0px 0px 0px 2px #d10024;
  box-shadow: 0px 0px 6px 0px #e4e7ed, 0px 0px 0px 2px #d10024;
}

.product .product-img {
  margin: 0px 5px;
  width: 100%;
  height: 100%;
  display: flex;
}

.product .product-img > img {
  display: flex;
  justify-content: center;
  width: 300px;
}

.product .product-body {
  width: 100%;
  position: relative;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  z-index: 20;
}

.product .product-body .product-status {
  text-transform: uppercase;
  font-size: 12px;
  color: #8d99ae;
}

.product .product-body .product-name {
  text-transform: uppercase;
  font-size: 16px;
}

.product .product-body .product-name > a {
  font-weight: 700;
}

.product .product-body .product-name > a:hover,
.product .product-body .product-name > a:focus {
  color: #d10024;
}

.product .product-body .product-price {
  color: #d10024;
  font-size: 18px;
}

.product .product-body .quick-view {
  padding: 12px 0px;
  background-color: rgba(189, 33, 46, 0.883);
  border: none;
  border-radius: 15px;
  color: #fff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product .product-body .quick-view span {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 20px;
}

.quick-view:hover,
.quick-view:focus {
  opacity: 0.6;
  color: #fff;
}

/*----------------------------*\
	Product Details Page
\*----------------------------*/

.productItself {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 0px 0px 0px 0px #e4e7ed, 0px 0px 0px 1px #e4e7ed;
  box-shadow: 0px 0px 0px 0px #e4e7ed, 0px 0px 0px 1px #e4e7ed;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

/*----------------------------*\
	Product Details Image
\*----------------------------*/
.product-main-img {
  margin: 0px 5px;
  width: 100%;
  height: 100%;
  position: relative;
}

.product-main-img .product-preview {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.product-main-img .product-preview img {
  width: 450px;
}
/*----------------------------*\
	Product Details 
\*----------------------------*/

.product-details {
  width: 50%;
  height: 100%;
  background-color: #f1f1f1;
}
.product-details .spec {
  margin: 50px;
}

.product-details .spec .product-name {
  text-transform: uppercase;
  font-size: 18px;
}

.product-details .spec .product-price {
  display: inline-block;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #d10024;
}
.product-details .spec .product-available {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 30px;
  color: #d10024;
}

.product-details .spec .product-btns li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
}

.product-details .spec .product-btns li + li {
  margin-left: 15px;
}

.product-details .spec .product-links {
  margin-top: 15px;
}

.product-details .spec .product-links li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
}

.product-details .spec .product-links li + li {
  margin-left: 10px;
}

.product-details .seller-details {
  display: inline-block;
  width: 100%;
  border-top: 2px solid #b4b0b0;
}

.product-details .seller-details h5 {
  margin: 10px 0 10px 50px;
}
.seller-chip {
  display: flex;
  padding: 0 20px;
  margin: 0 50px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 20px;
}

.seller-chip:hover {
  background: rgb(21, 125, 245);
  background: -webkit-linear-gradient(-135deg, #ff5f5f, rgb(21, 125, 245));
  background: -o-linear-gradient(-135deg, #ff5f5f, rgb(21, 125, 245));
  background: -moz-linear-gradient(-135deg, #ff5f5f, rgb(21, 125, 245));
  background: linear-gradient(-135deg, #ff5f5f, rgb(21, 125, 245));
}

.seller-chip img {
  float: left;
  margin: 0 10px 0 -20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.seller-chip h3 {
  padding: 0px 20px;
  align-items: center;
}
.product-details button {
  height: 40px;
  width: 100%;
  margin: 30px 0px;
  background: #d10024;
  color: #fff;
  font-weight: 800;
  border: none;
  border-radius: 40px;
}

#map {
  width: 90%;
  height: 160px;
  margin-left: 25px;
}
